<!DOCTYPE html>
<html>
  <head>
    <title>Text me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form name="new_text_form" id="new_text_form" method="post" action="/">
    <div>
       To: <input type="text" name="to" id="to" placeholder="to">
    </div>
    <div>
       Message: <input type="text" name="message" id="message" placeholder="message">
    </div>
    <input type="submit" value="Save">
</form>
  </body>
</html>